name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Run Python unit tests
      run: python3 -u -m unittest tests/tests.py

    - name: Verify that the Docker image for the action builds
      run: docker build . --file Dockerfile

    - name: Integration test with a single jacoco.csv case
      id: integration1
      uses: ./
      with:
        jacoco-csv-file: tests/jacoco.csv
        badges-directory: tests/badges
        generate-branches-badge: true

    - name: Log integration test outputs: single jacoco.csv case
      run: |
        echo "coverage = ${{ steps.integration1.outputs.coverage }}"
        echo "branch coverage = ${{ steps.integration1.outputs.branches }}"

    - name: Integration test with multiple jacoco.csv filescase
      id: integration2
      uses: ./
      with:
        jacoco-csv-file: >
          tests/multi1.csv
          tests/multi2.csv
        badges-directory: tests/badges
        generate-branches-badge: true
        coverage-badge-filename: coverageMulti.svg
        branches-badge-filename: branchesMulti.svg

    - name: Log integration test outputs: multi jacoco.csv case
      run: |
        echo "coverage = ${{ steps.integration2.outputs.coverage }}"
        echo "branch coverage = ${{ steps.integration2.outputs.branches }}"

    - name: Verify integration test results
      run: python3 -u -m unittest tests/integration.py
