name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Run Python unit tests
      run: python3 -u -m unittest tests/tests.py

    - name: Verify that the Docker image for the action builds
      run: docker build . --file Dockerfile

    - name: Integration test with a single jacoco.csv
      id: integration1
      uses: ./
      with:
        jacoco-csv-file: tests/jacoco.csv
        badges-directory: tests/badges
        generate-branches-badge: true

    - name: Log integration test outputs with a single jacoco.csv
      run: |
        echo "coverage = ${{ steps.integration1.outputs.coverage }}"
        echo "branch coverage = ${{ steps.integration1.outputs.branches }}"

    - name: Integration test with multiple jacoco.csv files
      id: integration2
      uses: ./
      with:
        jacoco-csv-file: >
          tests/multi1.csv
          tests/multi2.csv
        badges-directory: tests/badges
        generate-branches-badge: true
        coverage-badge-filename: coverageMulti.svg
        branches-badge-filename: branchesMulti.svg

    - name: Log integration test outputs with multiple jacoco.csv files
      run: |
        echo "coverage = ${{ steps.integration2.outputs.coverage }}"
        echo "branch coverage = ${{ steps.integration2.outputs.branches }}"

    - name: Verify integration test results
      run: python3 -u -m unittest tests/integration.py

    - name: This Should Fail the Workflow
      id: integration3
      uses: ./
      with:
        jacoco-csv-file: tests/jacoco100.csv
        badges-directory: tests
        generate-branches-badge: true
        coverage-badge-filename: 999.svg
        branches-badge-filename: 999b.svg
        fail-if-coverage-less-than: 99.9
